* {
    font-family: "Maple Mono NF";
    font-weight: bold;
    font-size: 13pt;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';

    border: none;
    border-radius: 0;

    min-height: 0;
    margin: 0;
    padding: 0;
}

@import "style/catppuccin-themes/mocha.css";

window#waybar {
  background-color: transparent;
  color: white;
}

#waybar.empty, #waybar.tiled, #waybar.floating {
	background-color: transparent;
}

window#waybar.empty,
window#waybar.empty #window {
    background-color: transparent;
}

#taskbar,
#workspaces {
  background: @base;
  padding: 1px 5px;
  border-radius: 50px 50px;
  border: 0px;
  font-style: normal;
  color: @base;
}

#taskbar button,
#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 50px 50px;
  border: 0px;
  color: @base;
  background:@mauve;
  opacity: 0.8;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active,
#workspaces button.active {
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 50px 50px;
  border: 0px;
  color: @base;
  background: linear-gradient(45deg, @green, @mauve);
  opacity: 1.0;
  min-width: 40px;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
  border-radius: 50px 50px;
  color: @base;
  background: linear-gradient(45deg, @blue, @mauve);
  opacity: 0.8;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  min-width: 50px;
}
@keyframes gradient_horizontal {
0% {
  background-position: 0% 50%;
	}
50% {
  background-position: 100% 50%;
	}
100% {
  background-position: 0% 50%;
	}
}

@keyframes swiping {
0% {
  background-position: 0% 200%;
	}
100% {
  background-position: 200% 200%;
	}
}

tooltip {
background: @base;
border: 4px solid @mauve;
border-radius: 10px;
}

tooltip label {
color: @rosewater;
}

#window {
	color: @green;
	background: @base;
	border-radius: 50px 50px;
	padding: 2px 15px;
}

#temperature,
#memory {
	color: @yellow;
	background: @base;
	border-radius: 50px 50px;
	padding: 2px 15px;
}

#custom-light_dark,
#custom-dot_update,
#custom-swaync,
#custom-hypridle,
#idle_inhibitor,
#clock {
	color: @teal;
	background: @base;
	border-radius: 50px 50px;
	padding: 2px 15px;
}

/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
	color: @green;
}

#bluetooth {
	color: @blue;
	background: @base;
	border-radius: 50px 50px;
	padding: 2px 15px;
}

#custom-playerctl,
#power-profiles-daemon,
#custom-cycle_wall,
#cpu {
	color: @flamingo;
	background: @base;
	border-radius: 50px 50px;
	padding: 2px 15px;
}

#disk {
	color: @green;
	background: @base;
	border-radius: 50px 50px;
	padding: 2px 15px;
}

#backlight,
#battery {
	color: @maroon;
	background: @base;
	border-radius: 50px 50px;
	padding: 2px 15px;
}

#mpris {
	color: @maroon;
	background: @base;
	border-radius: 50px 50px;
	padding-left: 8px;
	padding-right: 2px;
}

#backlight {
	color: @rosewater;
	background: @base;
	border-radius: 50px 50px;
	padding: 2px 15px;
}

#network {
	color: @peach;
	background: @base;
	border-radius: 50px 50px;
	padding: 2px 15px;
}

#custom-hyprbindings {
	color: @mauve;
	background: @base;
	background: @base;
	border-radius: 50px 50px;
	padding: 2px 15px;
}

#tray {
	color: @text;
	background: @base;
	border-radius: 50px 50px;
	padding: 2px 15px;
}

#pulseaudio {
	color: @sapphire;
	background: @base;
	border-radius: 50px 50px;
	padding: 2px 15px;
}

#custom-notification {
	color: @teal;
	background: @base;
	border-radius: 50px 50px;
	padding: 2px 15px;
}

#custom-browser,
#custom-file_manager,
#custom-tty,
#custom-settings {
	border-radius: 50px 50px;
	padding: 2px 15px;
	color: @base;
    background: linear-gradient(45deg, @green, @blue, @mauve);
}

#custom-weather {
	color: @sapphire;
	background: @base;
	border-radius: 50px 50px;
	padding: 2px 15px;
}

#custom-menu {
	color: @mauve;
	background: @base;
	border-radius: 50px 50px;
	padding: 1px 2px;
}

#custom-power {
	color: @mauve;
	background: @base;
	border-radius: 50px 50px 50px 50px;
	padding: 2px 5px 2px 15px;
} 

#custom-lock {
	color: @red;
	background: @base;
	border-radius: 50px 50px;
	padding: 2px 15px;
}

#custom-power_vertical,
#keyboard-state {
	color: @green;
	background: @base;
	border-radius: 50px 50px;
	padding: 2px 15px;
}

#battery.critical:not(.charging) {
	color: @red;
	animation-name: blink;
	animation-duration: 3.0s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#backlight-slider slider,
#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
	background-color: @surface1;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
	background-color: @mauve;
}
